<ion-view  hide-nav-bar="true">
   <ion-content class="centerme">
      <br/><br/>
      <p class="timeline-date">My Doctor</p>
      <br/><br/>
            <h2 class="timeline-title">
              Your Appointments
            </h2>
            <p class="timeline-desc padding" ng-click="duas()">
               Next appointment in 2 weeks
            </p>
            <button class="button button-royal">Add Appointment</button>

      <br/><br/>

<div class="list card">

  <a href="#" class="item item-icon-left timeline-desc" style="color: #aaa;">
    <i class="icon ion-person"></i>
    Dr. Umaira Sajjad
  </a>

  <a href="#" class="item item-icon-left timeline-desc" style="color: #aaa;">
    <i class="icon ion-ios-telephone"></i>
    +92 3154332322
  </a>

  <a href="#" class="item item-icon-left timeline-desc" style="color: #aaa;">
    <i class="icon ion-email"></i>
    umaira.sajjad@ymale.com
  </a>

</div>

   </ion-content>
   <div class="bar bar-footer bar-light" ng-click="mymenu()" animation="slide-in-up">
      <div class="title"><i class="ion-navicon-round"></i></div>
   </div>
</ion-view>