<ion-view  hide-nav-bar="true">
   <ion-content animation="slide-left-right-ios7">
      <br/><br/>
      <p class="timeline-date">All Duas</p>
      <ion-slide-box active-slide="myActiveSlide">
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon1-c.svg">
            </div>
            <h2 class="timeline-title">
               TODAY'S DUA
            </h2>
            <p class="timeline-desc padding">
               Recite three times after every salaah,
               good righteous children will be granted
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon4-c.svg">
            </div>
            <h2 class="timeline-title">
               TODAY'S NAASHTA
            </h2>
            <p class="timeline-desc padding">
               Recommended: Cheese Omelette, Paratha and Chai. Tap to view more options
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon3-c.svg">
            </div>
            <h2 class="timeline-title">
               TIP OF THE DAY
            </h2>
            <p class="timeline-desc padding">
               Anemia is common in Pakistani women. Take your multivitamins and icon suppliments properly
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon5-c.svg">
            </div>
            <h2 class="timeline-title">
               DOPEHER KA KHANA
            </h2>
            <p class="timeline-desc padding">
               Recommended: Chicken Biryani. Tap to view more options
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon2-c.svg">
            </div>
            <h2 class="timeline-title">
               TODAY'S NAME
            </h2>
            <p class="timeline-desc padding">
               Workout for 5 minutes today. Tap to start
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon8-c.svg">
            </div>
            <h2 class="timeline-title">
               YOUR BABY TODAY
            </h2>
            <p class="timeline-desc padding">
               It's the 37th Day. The baby is developing quite well. Tap to take a look.
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon1-c.svg">
            </div>
            <h2 class="timeline-title">
               TODAY'S DUA
            </h2>
            <p class="timeline-desc padding">
               It's Maghrib. Recite today's dua,
               good righteous children will be granted
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
         <ion-slide style="text-align: center;">
            <div class="timeline-icon">
               <img src="./img/icon5-c.svg">
            </div>
            <h2 class="timeline-title">
               RAAT KA KHANA
            </h2>
            <p class="timeline-desc padding">
               Recommended: Chicken Karahi. Tap to view more options
            </p>
            <br/><br/>
            <br/><br/>
         </ion-slide>
      </ion-slide-box>
   </ion-content>
   <div class="bar bar-footer bar-light" ng-click="mymenu()" animation="slide-in-up">
      <div class="title"><i class="ion-navicon-round"></i></div>
   </div>
</ion-view>