<ion-view>

   <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-more gcolor" ng-click="timeline()"></button>
   </ion-nav-buttons>
<ion-nav-bar  class="bar-royal">

  <ion-nav-title >Workout of the Day</ion-nav-title>
 </ion-nav-bar>
   <ion-content animation="slide-left-right-ios7">
      <br/><br/>

      
      <ion-slide-box active-slide="myActiveSlide">
         <ion-slide style="text-align: center;">
          <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/50260899?color=ffffff&title=0&byline=0&portrait=0" frameborder="0" width="500" height="281"></iframe>
                </div>
                <br/><br/>
                <h2 class="timeline-title">
                  Day 37: Pregnancy modifications for yoga<br/>&amp; barre classes
                 </h2>
            </ion-item>
          </div>

<br/><br/>
         </ion-slide>

         <ion-slide style="text-align: center;">
            <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/56205729?color=ecf000" frameborder="0" width="500" height="281"></iframe>
                </div>
                <br/><br/>
                <h2 class="timeline-title">
                  Day 38: Pregnancy Workout
                 </h2>
            </ion-item>
          </div>
         </ion-slide>

      
         <ion-slide style="text-align: center;">
            <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/134510238?color=ecf000" frameborder="0" width="500" height="281"></iframe>
                </div>
                <br/><br/>
                <h2 class="timeline-title">
                  Day 39: Restore Your Core Pilates Workout
                 </h2>
            </ion-item>
          </div>
         </ion-slide>
         

      
         <ion-slide style="text-align: center;">
            <div class="card">
            <ion-item>
                <div class="video-container">
                    <iframe src="https://player.vimeo.com/video/27263907?color=ecf000" frameborder="0" width="500" height="281"></iframe>
                </div>
                <br/><br/>
                <h2 class="timeline-title">
                  Day 40: Wunda Chair workout with the Smartspine 
                 </h2>
            </ion-item>
          </div>
         </ion-slide>


      </ion-slide-box>
   </ion-content>
   <div class="bar bar-footer bar-light" ng-click="mymenu()" animation="slide-in-up">
      <div class="title menu-title"><i class="ion-navicon-round"></i> MENU</div>
   </div>
</ion-view>