<ion-view>
   <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-more gcolor" ng-click="timeline()"></button>
   </ion-nav-buttons>

    <ion-nav-bar  class="bar-light">

 <ion-nav-title class="{{vclass}}" ng-click="spark()" ng-bind="viewTitle">Menu</ion-nav-title>
 </ion-nav-bar>
  <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-settings gcolor" ng-click=""></button>
   </ion-nav-buttons>
  <ion-content>
  <div class="row">
  	<div class="col centerme">
  		<div class="menu-item-1" style="padding-top: 50px;" ng-click="food()">
	        <div class="menu-icon">
	            <img src="./img/icon5-c.svg">
	        </div>
			<p class="menu-titles padding">FOOD</p>
		</div>
  		<div class="menu-item-2" ng-click="exercises()">
	        <div class="menu-icon">
	            <img src="./img/icon2-c.svg">
	        </div>
			<p class="menu-titles padding">EXERCISE</p>
		</div>
  		<div class="menu-item-3">
	        <div class="menu-icon">
	            <img src="./img/icon10-c.svg">
	        </div>
			<p class="menu-titles padding">WEIGHT</p>
		</div>
  		<div class="menu-item-4">
	        <div class="menu-icon">
	            <img src="./img/icon6-c.svg">
	        </div>
			<p class="menu-titles padding">TRACKER</p>
		</div>
    </div>
  	<div class="col centerme">

  		<div class="menu-item-5" style="padding-top: 50px;">
	        <div class="menu-icon">
	            <img src="./img/icon11-c.svg">
	        </div>
			<p class="menu-titles padding">FAQs</p>
		</div>
  		<div class="menu-item-6" ng-click="duas()">
	        <div class="menu-icon">
	            <img src="./img/icon1-c.svg">
	        </div>
			<p class="menu-titles padding">DUAS</p>
		</div>
  		<div class="menu-item-7">
	        <div class="menu-icon">
	            <img src="./img/icon1-c.svg">
	        </div>
			<p class="menu-titles padding">DOCTOR</p>
		</div>
  		<div class="menu-item-7">
	        <div class="menu-icon">
	            <img src="./img/icon3-c.svg">
	        </div>
			<p class="menu-titles padding">TIPS</p>
		</div>


  	</div>
   </div>
  </ion-content>
</ion-view>
