<ion-view>


   <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-more gcolor" ng-click="timeline()"></button>
   </ion-nav-buttons>
<ion-nav-bar  class="bar-royal">


  <ion-nav-title >Settings</ion-nav-title>
 </ion-nav-bar>
   <ion-content>


<ul class="list">

  <li class="item item-toggle">
     Get push notifications
     <label class="toggle toggle-royal">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Send me weekly email update
     <label class="toggle toggle-royal">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Remind me about appointments
     <label class="toggle toggle-royal">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


</ul>


   </ion-content>
   <div class="bar bar-footer bar-light" ng-click="mymenu()" animation="slide-in-up">
      <div class="title menu-title"><i class="ion-navicon-round"></i> MENU</div>
   </div>
</ion-view>