<ion-view  hide-nav-bar="true">
  <ion-content animation="slide-left-right-ios7" class="padding">

<p class="timeline-date">{{today}}</p>

<ion-slide-box active-slide="myActiveSlide">
  <ion-slide>
    <div class="box padding"><div class="padding"><p class="timeline-title">Good morning! Recite today's Dua.</p></div>
      <div class="card-wrap">
        <div class="full-card">
        <img  src="./img/intro1.png" width=300 height=300>
      </div></div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box padding"><p class="timeline-title">Choose a healthy breakfast today</p>


      <div class="card-wrap">
        <div class="full-card">
        <img  src="./img/intro2.png" width=300 height=300>
      </div>
    </div>

    </div>
  </ion-slide>
  <ion-slide>
    <div class="box padding"><p class="timeline-title">You have a doctor's appointment coming up</p>



      <div class="card-wrap">
        <div class="full-card">
        <img  src="./img/intro3.png" width=300 height=300>
      </div>
    </div>



    </div>
  </ion-slide>

</ion-slide-box>
    

    
  </ion-content>

<div class="bar bar-footer bar-light">
  <div class="title"><i class="ion-chevron-up"></i></div>
</div>
</ion-view>
