<ion-view>


   <ion-nav-buttons side="left">
      <button class="button button-icon icon ion-more gcolor" ng-click="timeline()"></button>
   </ion-nav-buttons>
<ion-nav-bar  class="bar-royal">


  <ion-nav-title >Weight Tracker</ion-nav-title>
 </ion-nav-bar>
   <ion-content class="centerme">
      <br/><br/>

            <h2 class="timeline-title">
              Your Weight is 78 kg
            </h2>
            <p class="timeline-desc padding" ng-click="duas()">
               You have gained 4 kgs in the last 2 weeks.
            </p>
            <button class="button button-royal" ng-click="showPopup()">Add Weight</button>
<br/><br/>
<img src="./img/graph.jpg" class="padding" width="280" height="165" />
   </ion-content>
   <div class="bar bar-footer bar-light" ng-click="mymenu()" animation="slide-in-up">
      <div class="title menu-title"><i class="ion-navicon-round"></i> MENU</div>
   </div>
</ion-view>