@font-face {
    font-family: 'MontserratRegular';
    src: url('../lib/ionic/fonts/Montserrat-Regular.otf');
}
@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../lib/ionic/fonts/HelveticaNeue-Light.otf');
}
@font-face {
    font-family: 'HelveticaNeueUltraLight';
    src: url('../lib/ionic/fonts/HelveticaNeue-UltraLight.otf');
}
@font-face {
    font-family: 'GothamRM';
    src: url('../lib/ionic/fonts/gothamrnd-medium.ttf');
}
@font-face {
    font-family: 'GothamRB';
    src: url('../lib/ionic/fonts/gothamrnd-book.ttf');
}


.timeline-title {
    font-family: GothamRM;
    color: #5B3D6D;
    font-size: 18px;
}
.timeline-desc {
    font-family: GothamRM;
    color: #aaa;
    font-size: 12px;
}
.timeline-date {
	font-family: GothamRM;
	color: #fff;
	font-size: 18px;
    text-align: center;
}

.centerme {
    text-align: center;
}